<!-- form card reset password -->
<div class="card card-outline-secondary">
  <div class="card-header">
    <h3 class="mb-0">Password Reset</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form4" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputEmail3">Email</label>

        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="mailid" formControlName="mailid" [ngClass]="{ 'is-invalid': mailid.invalid && (mailid.dirty ||
                           mailid.touched), 'is-valid': mailid.valid && (mailid.dirty || mailid.touched)}">

        <div class="invalid-feedback mt-2" *ngIf="mailid.invalid && (mailid.dirty || mailid.touched)">
          <p *ngIf="mailid.errors.required"> Please enter a valid email ID</p>
          <p *ngIf="mailid.errors.pattern"> example@xyz.com</p>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
        <span id="helpResetPasswordEmail" class="form-text small text-muted">
          Password reset instructions will be sent to this email address.
        </span>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg float-right" [disabled]="!form4.valid">Reset</button>

      </div>
    </form>
  </div>
</div>
<!--/form card reset password -->