<!-- form card register -->
<div class="card card-outline-secondary">
  <div class="card-header">
    <h3 class="mb-0">Sign Up</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="loginverify" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Full name" name="uname2" formControlName="uname2" [ngClass]="{ 'is-invalid': uname2.invalid && (uname2.dirty ||
                  uname2.touched), 'is-valid': uname2.valid && (uname2.dirty || uname2.touched)}">

        <div class="invalid-feedback mt-2" *ngIf="uname2.invalid && (uname2.dirty || uname2.touched)">
          <p *ngIf="uname2.errors.required"> Please Enter full Name</p>
          <p *ngIf="uname2.errors.minlength"> first name,middle name,lastname</p>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>


      <div class="form-group">
        <label for="inputEmail3">Email</label>
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="mailid" formControlName="mailid" [ngClass]="{ 'is-invalid': mailid.invalid && (mailid.dirty ||
                   mailid.touched), 'is-valid': mailid.valid && (mailid.dirty || mailid.touched)}">
        <div class="invalid-feedback mt-2" *ngIf="mailid.invalid && (mailid.dirty || mailid.touched)">
          <p *ngIf="mailid.errors.required"> Please enter a valid email ID</p>
          <p *ngIf="mailid.errors.pattern"> example@xyz.com</p>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3">Password</label>
        <input type="password" formControlName="pwd2" name="pwd2" class="form-control" id="inputPassword3" validateEqualTo="repeatpassword"
          placeholder="Password" [ngClass]="{ 'is-invalid': pwd2.invalid && (pwd2.dirty
                  || pwd2.touched), 'is-valid': pwd2.valid && (pwd2.dirty || pwd2.touched)}">

        <div class="invalid-feedback mt-2" *ngIf="pwd2.invalid && (pwd2.dirty || pwd2.touched)">
          <p *ngIf="pwd2.errors.required"> Please enter password</p>
          <p *ngIf="pwd2.errors.minlength"> password Should be atleast 8 characters</p>
          <p *ngIf="pwd2.errors.pattern"> password Should be stronger</p>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>

      </div>
      <div class="form-group">
        <label for="inputVerify3">Verify</label>
        <input type="password" name="repeatpassword" formControlName="repeatpassword" class="form-control" id="inputVerify3" placeholder="repeatpassword"
          [ngClass]="{ 'is-invalid': repeatpassword.invalid && (repeatpassword.dirty
                        || repeatpassword.touched), 'is-valid': repeatpassword.valid && (repeatpassword.dirty || repeatpassword.touched)}">


        <div class="invalid-feedback mt-2" *ngIf="repeatpassword.invalid && (repeatpassword.dirty || repeatpassword.touched) ">
          <p *ngIf="repeatpassword.errors.required"> Please enter password</p>
          <p *ngIf="repeatpassword.errors.minlength"> password Should be atleast 8 characters</p>
          <p *ngIf="loginverify.get('pwd2').hasError('validateEqual')"> password Should match </p>
        </div>
        <!-- password matching -->
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg float-right" [disabled]="!loginverify.valid">Register</button>
      </div>
    </form>
  </div>
</div>
<!-- /form card register -->